body {
    background-color: #DAD0C2;
}
header {
    text-align: center;
    font-size: 1.0rem;
    font-weight: bold;
}
.container {
    text-align: center;
    margin: 0px auto;
    display : grid;
   grid-template-columns: 1fr 4fr;
}
.__displayNote {
    margin: 5px 2px 0px;
}
h3 {
    background-color: #000;
    color: #fff;
    padding: 15px;
    margin-bottom: 0px;
}

.description {
    background-color: #fff;
    padding: 3px;
    padding-top: 10px;
}
#__title{
    width: 99%;
    padding-left: 20px;
    /* padding: 10px; */
    height: 30px;
    border: 1px solid #000;

}



#editor-container {
    height: 375px;
    background-color: #fff;
    border: 1px solid #000;
  
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

 #__addNotebtn {
     border-radius: 50%;
     padding: 6px 12px;
     margin-top: 5px;
     margin-bottom: 4px;
     box-shadow: 3px;
     margin-right: 40px;
     font-size: 1.5rem;
     font-weight: bold;
     float: right;
     color: white;
     background-color: #000;

 }

